body {
    background-color: rgb(75, 0, 122);
}

.div-op{
    padding: 2%;
}

#obs{
    text-align: center;
    color: rgb(255, 255, 255);
}

#conta{
    background-color: rgb(202, 224, 169);
    font: normal 10pt Roboto;
    min-height: 90px;
    border-radius: 10px;
    border: 2px solid #0000004b;
    margin-bottom: 0;
}

.numeros{
    text-align: center;
    padding: 2%;
    margin-top: 5px;
}

abbr{
    text-decoration: none;
}

.btn{
    text-decoration: none;
    height: 30px;
    width: 35px;
    margin: 2px;
}

.operacao{
    margin-top: 15px;
    text-align: center;
}

.fonte-nabla{
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-size:xx-large;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 10px;
}

.header {
    font: bold 25pt Courier;
    text-align: center;
    color: white;
    margin-top: 40px;
}

.section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.minhaDiv {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    font: normal 15pt Unageo;
    padding: 3%;
    /* usar o padding aqui eh melhor do que heigth e width*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.345);
   

}

.footer {
    font: normal 10pt Unageo;
    text-align: center;
    color: white;
}